<div class="Payment">
	<div class="Paymentbig">
    	<div class="paymentl">
        <span>会员中心</span>
        	<ul>
            	<li><a href="{:U('Member/index')}">会员中心</a></li>
                <li><a href="{:U('Member/userInfo')}">个人资料</a></li>
                <li><a class="p" href="{:U('Cart/index')}">我的购物车</a></li>
                <li><a href="password.html">修改密码</a></li>
                <li><a href="{:U('Member/address')}">收货地址</a></li>
                <li><a href="Purchase.html">购买记录</a></li>
                <li><a href="{:U('Order/index')}">确认订单</a></li>
                <li><a href="Payment failure.html">确认付款</a></li>
            </ul>
        </div>
        <div class="paymentr">
        	<div class="paymentrt"><span><i class="iconfont icon-gerenzhongxin"></i>个人资料/The personal data</span><p>当前位置：<a href="index.html">首页>></a><a href="member.html">会员中心>></a ><a href="personal data.html">个人资料</a></p></div>
            <div class="personal">
            	<div class="big"><span>当前头像：</span><p class="bug"><img src="__PUBLIC__images/touxiang.png"/></p></div>
                <span>昵称：</span><p class="bug"><input type="text"></p>
                <span>真实姓名：</span><p class="bug"><input type="text"></p>
                <span>性别：</span><p class="bug2"><input type="radio" name="sex" id="men"/><label for="men">男</label><input type="radio" id="women" name="sex" checked/><label for="women">女</label></p>
                <span>生日：</span><p class="bug">
                
                <select>
        		<option>年</option>
                <option>1980</option>
                <option>1979</option>
                <option>1980</option>
                <option>1979</option>
                <option>1980</option>
                <option>1979</option>
        
        		</select>
                <select>
        		<option>月</option>
                <option>12</option>
                <option>11</option>
                <option>10</option>
                <option>9</option>
                <option>8</option>
                <option>7</option>
        
        		</select>
                <select >
        		<option >日</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option >6</option>
        
        		</select>
            </p>
            	 <span>收货地址：</span><p class="bug3"><input type="text" placeholder="广西南宁市青秀区盛天茗城110号"><a href="">添加新地址！</a></p>
                 <p class="bug"><button  value="修改">修改</button></p>
                
            </div>
        	
        </div>
     </div>
</div>