<div class="bandbanner"><a href="productinfo.html"></a>
</div>
<div class="bandintrodoce">
	<div class="bandl">
    	<div class="bandnav">
        	<ul>
            	<p>产品中心</p>
            	<li><a class="hov" href="">冬至运动鞋</a></li>
                <li><a href="">秋至运动鞋</a></li>
                <li><a href="">夏至运动鞋</a></li>
                <li><a href="">春至运动鞋</a></li>
            </ul>
        </div>
        <div class="bandlnum"><a href=""><img src="__PUBLIC__images/band1.jpg"/></a></div>
        <div class="twodbc"><a href=""><img src="__PUBLIC__images/band2.jpg"/></a>
        <p>扫一扫有惊喜</p>
        </div>
    </div>
    
    <div class="bandr">
    	<p class="bandrr"><i class="iconfont icon-liuyan"></i>品牌简介</p><span>当前位置：<a href="index.html">首页>></a><a href="product.html">产品中心>></a><a href="productinfo.html">冬至运动鞋>></a></span>
        <ul>
        	<li><a href="productinfo.html"><img src="__PUBLIC__images/product.jpg"/></a>
            <div class="producttitle">
            	<p><a href="productinfo.html">2015冬季首步鞋男版透气鞋男士休闲鞋潮流男鞋</a></p>
                <p class="p">￥88.00</p> <span><a href="shopping.html"><i class="iconfont icon-gouwuche"></i>加入购物车</a></span>
            
            </div></li>
            <li><a href="productinfo.html"><img src="__PUBLIC__images/product.jpg"/></a>
            <div class="producttitle">
            	<p><a href="productinfo.html">2015冬季首步鞋男版透气鞋男士休闲鞋潮流男鞋</a></p>
                 <p class="p">￥88.00</p> <span><a href="shopping.html"><i class="iconfont icon-gouwuche"></i>加入购物车</a></span>
            
            </div></li>
            <li><a href="productinfo.html"><img src="__PUBLIC__images/product.jpg"/></a>
            <div class="producttitle">
            	<p><a href="productinfo.html">2015冬季首步鞋男版透气鞋男士休闲鞋潮流男鞋</a></p>
                 <p class="p">￥88.00</p> <span><a href="shopping.html"><i class="iconfont icon-gouwuche"></i>加入购物车</a></span>
            
            </div></li>
<li><a href="productinfo.html"><img src="__PUBLIC__images/product.jpg"/></a>
            <div class="producttitle">
            	<p><a href="productinfo.html">2015冬季首步鞋男版透气鞋男士休闲鞋潮流男鞋</a></p>
                 <p class="p">￥88.00</p> <span><a href="shopping.html"><i class="iconfont icon-gouwuche"></i>加入购物车</a></span>
            
            </div></li>
            <li><a href="productinfo.html"><img src="__PUBLIC__images/product.jpg"/></a>
            <div class="producttitle">
            	<p><a href="productinfo.html">2015冬季首步鞋男版透气鞋男士休闲鞋潮流男鞋</a></p>
                 <p class="p">￥88.00</p> <span><a href="shopping.html"><i class="iconfont icon-gouwuche"></i>加入购物车</a></span>
            
            </div></li>
            <li><a href="productinfo.html"><img src="__PUBLIC__images/product.jpg"/></a>
            <div class="producttitle">
            	<p><a href="productinfo.html">2015冬季首步鞋男版透气鞋男士休闲鞋潮流男鞋</a></p>
                 <p class="p">￥88.00</p> <span><a href="shopping.html"><i class="iconfont icon-gouwuche"></i>加入购物车</a></span>
            
            </div></li>
            <li><a href="productinfo.html"><img src="__PUBLIC__images/product.jpg"/></a>
            <div class="producttitle">
            	<p><a href="productinfo.html">2015冬季首步鞋男版透气鞋男士休闲鞋潮流男鞋</a></p>
                 <p class="p">￥88.00</p> <span><a href="shopping.html"><i class="iconfont icon-gouwuche"></i>加入购物车</a></span>
            
            </div></li>
            <li><a href="productinfo.html"><img src="__PUBLIC__images/product.jpg"/></a>
            <div class="producttitle">
            	<p><a href="productinfo.html">2015冬季首步鞋男版透气鞋男士休闲鞋潮流男鞋</a></p>
                 <p class="p">￥88.00</p> <span><a href="shopping.html"><i class="iconfont icon-gouwuche"></i>加入购物车</a></span>
            
            </div></li>
        </ul>
    </div>
</div>