<div class="banner">
  <div class="list_div">
   <ul class="list">
      <li class="b1"></li>
      <li class="b2"></li>
      <li class="b3"></li>
      <li class="b4"></li>
    </ul>
   
  </div> 
  <div class="bannerimg">
  	<ul>
    	<li><a href="productinfo.html"><img src="__PUBLIC__images/bannerp1.png"/></a>
            <a href="productinfo.html"><p>首步运动鞋2015秋季新款 </p>
            <p>耐磨时尚跑步运动鞋</p></a>
        </li>
        <li><a href="productinfo.html"><img src="__PUBLIC__images/bannerp2.png"/></a>
            <a href="productinfo.html"><p>首步运动鞋2015秋季新款 </p>
            <p>耐磨时尚跑步运动鞋</p></a>
        </li>
        <li><a href="productinfo.html"><img src="__PUBLIC__images/bannerp3.png"/></a>
            <a href="productinfo.html"><p>首步运动鞋2015秋季新款 </p>
            <p>耐磨时尚跑步运动鞋</p></a>
        </li>
    </ul>
  </div>
  <div class="direction">
    <a href="javascript:;" class="left"><</a>
    <a href="javascript:;" class="right">></a>
  </div>
  <div class="banner_dot">
    <ul>
      <li class="on">1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
    </ul>
  </div>
</div>