/***index.html*****/
.phcolor{ color:#999;}
.banner{width:100%;height:683px; position: relative; overflow:hidden; }
.banner .list_div{ max-width: 1920px; margin: 0 auto; height: 683px;overflow: hidden;}
.banner .list{ width: 100%; height: 683px;position: relative;}
.banner .list li{ float: left;position: absolute; font-size:100px; text-align: center;left: -1920px;}
.banner .list li.b1{width:100%;height:683px;background:url(../images/banner.jpg) no-repeat center center;left: 0}
.banner .list li.b2{width:100%;height:683px;background:url(../images/banner.jpg) no-repeat center center;}
.banner .list li.b3{width:100%;height:683px;background:url(../images/banner.jpg) no-repeat center center;}
.banner .list li.b4{width:100%;height:683px;background:url(../images/banner.jpg) no-repeat center center;}
.banner .direction{ max-width: 1920px; margin: 0 auto;position: relative;bottom: 300px;height: 60px;}
.banner .direction a{ font-size:60px;font-family:'풻'; color:#3f3f3f; position: absolute;}
.banner .direction a.left{ left: 20px }
.banner .direction a.right{ right:20px }
.banner .direction a:hover{color: #1081d0}
.banner .banner_dot{width: 1200px; margin:0 auto; height: 18px;bottom:25px; position:absolute;left:50%; margin-left:-1128px;}
.banner .banner_dot ul{ float: right; }
.banner .banner_dot ul li{ float: left; background: #b7bfc4; margin-left: 10px; width: 18px; height: 18px; text-align: center; color: #fff}
.banner .banner_dot ul li.on,.banner .banner_dot ul li:hover{background: #1081d0}
.banner .bannerimg{ width:1200px; height:50px; position:absolute;top:430px;left:50%; margin-left:-600px;}
.banner .bannerimg ul{ height:260px; float:left;}
.banner .bannerimg ul li{width:360px; height:185px; float:left; margin-left:30px; background:rgba(21,21,21,0.4);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#bf000000',EndColorStr='#bf000000');border-radius: 10px;
    behavior: url(ie-css3.htc);-webkit-border-radius:10px 10px 10px 10px;}
.banner .bannerimg ul li:hover{  -webkit-transform:scale(0.9,0.9);transform:scale(0.9,0.9);-webkit-transition:all 1S ease; transition:all 1S ease;}
.banner .bannerimg ul li p{ margin:0 0 0 85px; font-size:20px; color:#fff;}
/***band.html*****/
.bandbanner{ width:100%;height:356px;background:url(../images/bandbanner.jpg) no-repeat center center;}
.bandbanner a{display:inline-block;width:100%;height:356px;}
.bandintrodoce{width:1200px; overflow:hidden;margin:0 auto;  margin-top:50px;}
.bandintrodoce .bandl{width:250px; height:overflow:hidden; float:left;}
.bandintrodoce .bandl .bandnav ul{width:250px; overflow:hidden; color:#fff;background:#999; }
.bandintrodoce .bandl .bandnav ul p{ display:inline-block;width:250px;height:55px; background:#25211b; text-align:center; line-height:55px; font-size:24px; font-family:"풕턼환쥌";}
.bandintrodoce .bandl .bandnav ul li{ width:250px; height:48px;background:#333; position:relative;margin:15px 0 0 0;margin-bottom:20px;}
.bandintrodoce .bandl .bandnav ul li a{ width:250px; height:48px; display:inline-block; text-align:center; line-height:48px; font-size:18px; font-family:"풕턼환쥌"; color:#fff;}
.bandintrodoce .bandl .bandnav ul li a.hov{ color:#000; background:url(../images/bandnav.png) no-repeat;z-index:666; position:absolute; top:-7px; left:35px;width:183px; height:63px;line-height:63px;font-family:"풕턼환쥌";}
.bandintrodoce .bandl .bandlnum{ width:250px; height:117px; }
.bandintrodoce .bandl .bandlnum img{width:248px;border: 1px solid #ccc;margin-top:10px; }
.bandintrodoce .bandl .twodbc{ width:248px; height:260px;}
.bandintrodoce .bandl .twodbc img{margin:10px  0 10px 25px;}
.bandintrodoce .bandl .twodbc p{ text-align:center;line-height:42px; font-size:18px; font-family:"풕턼환쥌"; color:#000;}
.bandintrodoce .bandr{width:920px; overflow:hidden;float:right; border: 1px solid #ccc;border-radius:10px 10px 10px 10px; margin-bottom:75px;}
.bandintrodoce .bandr p.bandrr{display:inline-block; height:45px; width:660px; background:#999; line-height:45px;font-size:14px; font-family:"풕턼환쥌";border-radius:10px 0px 0px 0px; float:left;}
.bandintrodoce .bandr p.bandrr i{ margin:0 10px 0 20px;}
.bandintrodoce .bandr  span{ float:right; font-size:12px; font-family:"풕턼환쥌"; background:#999; width:260px; height:45px; line-height:45px;}
.bandintrodoce .bandr span a{color:#000;}
.bandintrodoce .bandr ul{ width:898px; overflow:hidden; margin:20px 10px 90px 10px;}
.bandintrodoce .bandr ul img{ float:right;}
.bandintrodoce .bandr ul p{ text-indent:2em; line-height:24px;font-size:14px;}
/***news.html*****/
.bandintrodoce .bandr ul.newss{ width:920px; overflow:hidden; margin:0;}
.bandintrodoce .bandr ul.newss li{ width:898px; overflow:hidden; margin:30px 10px 10px 10px; border-bottom:1px dashed black;}
.bandintrodoce .bandr ul.newss li:last-child{border-bottom:none;}
.bandintrodoce .bandr ul.newss li span.tt{ width:229px; float:left; background:#000;}
.bandintrodoce .bandr ul.newss li span.tt dt{ width:229px;}
.bandintrodoce .bandr ul.newss li  p{ width:668px; float:right; text-indent:0;font-size:18px; font-family:"풕턼환쥌";  line-height:42px; }
.bandintrodoce .bandr ul.newss li  p a{color:#f63; text-align:left; float:left;}
.bandintrodoce .bandr ul.newss li  p a.kk{ color:#000; float:right;}
.bandintrodoce .bandr ul.newss li  p a span.bb{ float:right;font-size:16px;color:#000; width:180px; background:#fff;}
.bandintrodoce .bandr ul.newss li  span.ll{ width:668px; float:right; text-indent:0;font-size:18px; font-family:"풕턼환쥌";  line-height:42px;  background:#fff;}
.bandintrodoce .bandr ul.newss li p{width:668px; float:right; font-size:14px; color:#000; line-height:30px; margin-bottom:20px;}
.bandintrodoce .bandr ul.newss li  p  span.cc{ width:50px; height:20px; line-height:30px; background:#fff;}
.bandintrodoce .bandr ul.newss li  p span.cc a{ color:#f63;}
.bandintrodoce .bandr .num{width:455px; height:92px; margin:15px 0 0 270px; }
.bandintrodoce .bandr .num ul{ width:455px; height:80px;  margin:0 auto; float:left;}
.bandintrodoce .bandr .num ul li{ width:50px;  height:30px;  text-align:center; float:left; line-height:30px; border-bottom:none; margin:0;}
.bandintrodoce .bandr .num ul li a{display:inline-block; font-size:14px;color:#000;}
.bandintrodoce .bandr .num ul li.hv {background:#f96; font-weight:900;}
.bandintrodoce .bandr .num ul li:hover {background:#f96; font-weight:900;}
/***newsinfo.html*****/
.bandintrodoce .bandr p.bandrr i{ margin:0 10px 0 20px;}
.bandintrodoce .bandr p.bandrr span{ float:right; margin-right:50px; font-size:12px; font-family:"풕턼환쥌";}
.bandintrodoce .bandr p.bandrr span a{color:#000;}

.bandintrodoce .bandr  dt{ width:475px; float:right; font-size:20px; font-family:"풕턼환쥌"; text-align:center; color:#f63;}
.bandintrodoce .bandr  dt.dt{ width:475px; float:right; margin-right:15px; font-size:20px; font-family:"풕턼환쥌"; text-align:center; color:#f63;border:none; margin-bottom:10px;}
.bandintrodoce .bandr  dt.dt span{ font-size:12px;color:#000; width:135px; background:#fff; line-height:20px; height:20px;}
.bandintrodoce .bandr   span.xx { background:#fff; width:475px;}
.bandintrodoce .bandr dl.qq{ width:898px; overflow:hidden; margin:20px 10px 90px 10px; float:left;  margin-left:0;}
.bandintrodoce .bandr dl.qq img{ float:left;}
.bandintrodoce .bandr dl.qq p{ text-indent:2em; line-height:24px;font-size:15.43px; color:#000; margin-left:20px;}
/***product.html*****/
.bandintrodoce .bandr ul{width:880px; overflow:hidden; margin:80px 20px 30px 20px;}
.bandintrodoce .bandr ul li{width:165px;overflow:hidden; float:left; margin-left:45px; height:250px;}
.bandintrodoce .bandr ul li img:hover{ -webkit-transform:scale(1.03,1.03);transform:scale(1.03,1.03);-webkit-transition:all 1S ease; transition:all 1S ease;}
.bandintrodoce .bandr ul li .producttitle{width:165px; height:250px; }
.bandintrodoce .bandr ul li .producttitle p{ text-indent:0;}
.bandintrodoce .bandr ul li .producttitle p a{ display:inline-block; font-size:14px; line-height:26px; color:#000;}
.bandintrodoce .bandr ul li .producttitle p.p{font-size:16px; line-height:24px; font-family:"풕턼환쥌"; width:60px; float:left; height:24px; }
.bandintrodoce .bandr ul li .producttitle  span{ background:#fff; width:100px; display:inline-block; height:26px; float:left; }
.bandintrodoce .bandr ul li .producttitle  span a{ display:inline-block;height:26px; width:85px; font-size:12px; line-height:24px; color:#fff; float:right; background:#f63; text-align:center;}
.bandintrodoce .bandr p.bandrr i{ margin:0 10px 0 20px;}
.bandintrodoce .bandr p.bandrr span{ float:right; margin-right:50px; font-size:12px; font-family:"풕턼환쥌";}
.bandintrodoce .bandr p.bandrr span a{color:#000;}
/***productinfo.html*****/
.bandintrodoce .bandr ul.productinfo{width:820px;  overflow:hidden;margin:30px 50px 30px 50px;}
.bandintrodoce .bandr ul.productinfo .productinfol{ width:300px; overflow:hidden; float:left;}
.bandintrodoce .bandr ul.productinfo .productinfor{ width:480px; overflow:hidden; float:right; line-height:30px;}
.bandintrodoce .bandr ul.productinfo .productinfor p{ width:480px; font-size:18px; font-family:"풕턼환쥌";color:#000; line-height:50px; text-indent:0;}
.bandintrodoce .bandr ul.productinfo .productinfor .price{ width:480px; height:50px; background:#fff2eb; }
.bandintrodoce .bandr ul.productinfo .productinfor .price span.dd{ background:#fff2eb; float:left; margin:0 10px 0 10px; line-height:50px; width:30px;}
#a{ width:4px; height:50px; margin:0; font-size:30px; font-weight:900; color:#f63; background:#fff2eb; float:left;}
.bandintrodoce .bandr ul.productinfo .productinfor .price li{ margin-left:0; float:left; width:60px; height:50px; margin:0 5px 0 10px;}
.bandintrodoce .bandr ul.productinfo .productinfor .price li a{ width:60px; height:50px; display:inline-block; text-align:center;  }
.bandintrodoce .bandr ul.productinfo .productinfor .price li a p{ width:60px; font-size:14px; line-height:20px;}
.bandintrodoce .bandr ul.productinfo .productinfor .price .price2{ width:245px; height:50px; line-height:50px; float:left;}
.bandintrodoce .bandr ul.productinfo .productinfor .price .price2 em{ font-style:normal; font-size:24px; font-family:"풕턼환쥌";color:#f63;}
.bandintrodoce .bandr ul.productinfo .productinfor .add{ width:480px; height:50px; line-height:50px;border-bottom: 1px dashed black;}
.bandintrodoce .bandr ul.productinfo .productinfor .add span{ float:left; margin:0 10px 0 0px; width:auto; background:#fff; float:left;}
.bandintrodoce .bandr ul.productinfo .productinfor .size span{ float:left; margin:0 10px 0 0px; width:auto; background:#fff; float:left;}
.bandintrodoce .bandr ul.productinfo .productinfor .add span select{ border:none;outline: none;}
.bandintrodoce .bandr ul.productinfo .productinfor .size{ width밐500px; height:70px; float:left; background:#fff;}
.bandintrodoce .bandr ul.productinfo .productinfor .size ul{width:418px; height:70px;float:left;margin:0; margin-top:20px; }
.bandintrodoce .bandr ul.productinfo .productinfor .size ul li{ width:36px; height:36px; float:left; border:1px solid #928f8f; margin:0 10px 0 10px; text-align:center;width:36px; height:36px;}
.bandintrodoce .bandr ul.productinfo .productinfor .size ul li a{ line-height:36px; color:#666; font-size:20px; font-family:"풕턼환쥌"; display:block;}
.bandintrodoce .bandr ul.productinfo .productinfor .much{ width:480px; height:72px; line-height:70px;}
.bandintrodoce .bandr ul.productinfo .productinfor .much span{ float:left; margin:0 10px 0 0px; width:auto; background:#fff; float:left;}
.bandintrodoce .bandr ul.productinfo .productinfor .much span{line-height:80px; margin-left:10px;}
.bandintrodoce .bandr ul.productinfo .productinfor .much a{ float: left; height:50px; width:40px; background:#Ededed; margin-top:20px; line-height:50px; text-align:center;}
.bandintrodoce .bandr ul.productinfo .productinfor .much a.jian{ color:#ccc;}
.bandintrodoce .bandr ul.productinfo .productinfor .much a.jia{ color:#000;}
.bandintrodoce .bandr ul.productinfo .productinfor .much input{height:46px; width:70px; line-height:46px; float:left; margin-top:20px; text-align:center;font-size:18px; font-family:"풕턼환쥌";}
.bandintrodoce .bandr .onclik{ width:120px; height:50px; background:#f66;border-radius:10px 10px 10px 10px; -webkit-border-radius:5px 5px 5px 5px; margin:20px auto 10px; margin-left:475px;}
.bandintrodoce .bandr .onclik a{ display:inline-block;width:120px; height:50px; color:#fff; text-align:center; line-height:50px;} 
.bandintrodoce .bandr .NEWS{ width:820px; height:210px; margin:0 auto 50px;}
.bandintrodoce .bandr .NEWS p{width:820px; height:29px;border-bottom:1px dashed black;}
.bandintrodoce .bandr .NEWS p span{ float:left; margin:0 10px 0 0px;  background:#fff; float:left;width:80px; height:28px; text-align:center; line-height:28px; margin-left:10px; display:inline-block;border: 1px dashed black;border-bottom:1px solid #ffffff;}
.bandintrodoce .bandr .NEWS .NEWSl{ width:40px;  float:left; margin-top:30px;}
.bandintrodoce .bandr .NEWS .NEWSz{ width:740px;  float:left; margin-top:30px;}
.bandintrodoce .bandr .NEWS .NEWSz ul{ width:740px; height:150px; overflow:hidden;   margin:0;}
.bandintrodoce .bandr .NEWS .NEWSz ul li{ width:160px;  float:left; margin:0 10px 0 10px;}
.bandintrodoce .bandr .NEWS .NEWSr{ width:40px; float:left;margin-top:30px;}


